.wrapper {
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: url("../img/background\ 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 46px;
  margin-bottom: 22px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  display: flex;
  margin-top: 5px;
}

.logo-link:hover .logo-reserve {
  display: block;
}

.logo-link:hover .logo-main {
  display: none;
  color: #f26522;
}

.logo-link:hover .logo-text {
  color: #f26522;
}

.logo-main {
  display: block;
  position: relative;
}

.logo-reserve {
  display: none;
  position: relative;
}

.logo-text {
  margin-left: 8px;
  font-size: 29px;
  line-height: 29px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-word2 {
  display: block;
  margin-top: 3px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header-contact,
.content-text {
  font-size: 18px;
  line-height: 18px;
}

.contact-item {
  margin-bottom: 19px;
}

.contact-email:hover {
  color: #f26522;
}

.contact-phone,
.footer-text {
  color: #ffffff;
}

.contact-phone:hover {
  color: #f26522;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 62px;
  row-gap: 37px;
  margin-bottom: 49px;
}

.content-item {
  position: relative;
}

.content-item:hover h2 {
  color: #f26522;
}

.content-item:hover .drop-top {
  display: block;
}

.content-item::after {
  display: none;
  position: absolute;
  left: 0;
  top: 165px;
  content: "";
  height: 55px;
  width: 300px;
  background: #f26522;
}

.content-item:hover:after {
  display: block;
  position: absolute;
  left: 0;
  top: 165px;
  content: "";
  height: 55px;
  width: 300px;
  background: #f26522;
}

.content-ipg {
  width: 300px;
  height: 220px;
}

.content-text {
  text-align: center;
  padding-top: 20px;
}

.drop-top {
  display: none;
  position: absolute;
  z-index: 1;
  top: 172px;
  left: 0;
  width: 300px;
}

.drop-text1 {
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 10px;
}

.drop-price {
  position: absolute;
  top: 19px;
  left: 16px;
  font-size: 20px;
  line-height: 20px;
}

.drop-text2 {
  position: absolute;
  top: 19px;
  left: 180px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.drop-text2::after {
  position: relative;
  top: 2px;
  left: 24px;
  content: url("../img/vector.png");
}

.footer-text {
  margin-bottom: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
}
